body,
html {
  height: 100vh;
  background-color: #6883bc;
  margin: 0px;
  padding: 0px;
}

.credit {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 0.8em;
  color: white;
  word-spacing: 1px;
  font-family: "Raleway", sans-serif;
}

/*Drumbox Style*/
.drumbox {
  height: 300px;
  width: 600px;
  background-color: #8a307f;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 7px 5px black;
}

/*Keypad Style*/
.pad {
  width: auto;
}

.col {
  width: 95px;
  margin: 4px;
  height: 80px;
  background-color: #79a7d3;
  border: 1px solid black;
  color: black;
  font-family: Russo One;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: black 3px 3px 5px;
}

.col:active {
  background-color: #6883bc;
  box-shadow: none;
}

/*Control Panel Style*/
.control-panel {
  height: 100%;
  margin-right: 50px;
  color: black;
}

.panel-item {
  font-family: Russo One;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: black;
  outline: none;
  opacity: 1;
  margin-top: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6883bc;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #04aa6d;
  cursor: pointer;
}

.selector {
  height: 21px;
  width: 50px;
  background-color: black;
  border-radius: 10px;
}

.inner-selector {
  height: 100%;
  width: 22px;
  background-color: #6883bc;
  border: 3px solid black;
  border-radius: 50%;
}

.display {
  height: 50px;
  width: 170px;
  padding: 15px;
  background-color: #79a7d3;
  color: #8a307f;
  border-radius: 5px;
  font-family: "Silkscreen", sans-serif;
}

input {
  display: block;
}